
body
{
margin: 0;
padding: 0;
background-image: url(table.jpg);
background-repeat: no-repeat;
background-size: cover;
background-color: aquamarine;

}
.forms-tag{
    margin: 0;
    padding: 0;
    color: white;
    width: 900px;
    height: 700px;
    padding: 80px 20px 20px 206px;
  
}

input{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    font-size: 18px;
    overflow: hidden;
    border-width: 4px;
    border-style: solid;
}
label{
    font-size: 25px;
    color:powderblue;
   display: inline-block;
    width: 150px;
    text-align: right;
    
}
label:hover
{
    color: chartreuse;
}
#Lname, #Uname,#Gen,#address1,#emailid1,#college,#state1,#coun{

    padding-left: 30px;
}
select{
    width: 260px;
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
    overflow: hidden;
    border-width: 4px;
    border-style: solid;
}
input #emailid1{
width: 250px;

}
h1{
    margin: 0%;
    padding-left: 500px;
    font-size: 80px;
    overflow: hidden;
    box-sizing: border-box;
    font-family: serif;
    font-weight: 400;
    font-style: italic;
    display: inline-block;
    text-align: center;
    text-shadow: 1em;
    color: azure;

}
h1:hover{
    color: chocolate;
    text-decoration: underline;

}
.enter-image img{

    width: 300px;
    height: 600px;
    position: relative;
    float: right;
    padding-right: 50px;
    border-radius: 20px;
}

button{
    margin: 0;
    padding: 20px 20px 20px 20px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    justify-content: center;
 
}
.btn-button{
margin: 0;
padding-left: 450px;
overflow: hidden;
display: flex;
align-self: center;
}